@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
/*button {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 10px 10px;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
}*/

header {
  height: 200px;
  width: 100%;
  background-color: #0dc9f7;
}
.blogLogo {
  height: 50%;
  width: 100%;
}
.blogNav {
  height: 50%;
  background-color: #41d4cf;
}
nav > li {
  list-style-type: none;
  display: inline-block;
}

#codingJourney {
  padding-bottom: 25px;
  text-decoration: underline;
}

.singlePost {
  background-color: #66c3bc;
  border-bottom: 1px solid #29313b;
}