html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  background-color: #ade4ff;
}


header {
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  background-color: #964e4e;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 5px;
}
.blogLogo {
  height: 50%;
  width: 100%;
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
}

.blogLogo > span {
  font-size: 4em;
  padding-right: 15px;
}

.blogNav {
  height: 50%;
  background-color: #d59393;
}
nav a li {
  list-style-type: none;
  display: inline-block;
}

#codingJourney {
  padding-bottom: 25px;
  text-decoration: underline;
}

.singlePost {
  background-color: #ffeadf;
  border-bottom: 1px solid #29313b;
}

.createButton {
  margin-top: 15px;
  box-sizing: border-box;
  font-size: 1em;
}

ul.pagination li a, ul.pagination li.disabled span {
  background-color: white;
}

ul.pagination li.active span {
  background-color: #C4E0C4;
}

footer a li {
  list-style-type: none;
  display: inline-block;
  font-size: 3em;
}